# Auto Bank ACB Configuration
BANK_API_TOKEN=
BANK_NAME=ACB
BANK_ACCOUNT_NO=
BANK_ACCOUNT_NAME=
BANK_MEMO_PREFIX=NAP
BANK_CHECK_INTERVAL=20
VIETQR_BANK_BIN=970416

# ==========================================
# Telegram Bot Configuration
# ==========================================
# Token provided by @BotFather
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE

# Comma-separated list of Telegram Admin User IDs
ADMIN_IDS=7079848501
REQUIRED_CHAT_ID=-1003804934789
REQUIRED_CHAT_URL=https://t.me/+fHk_70X0X0xkZTM1


# ==========================================
# Application & Environment Settings
# ==========================================
ENVIRONMENT=development
LOG_LEVEL=INFO
DATABASE_URL=sqlite+aiosqlite:///data/bot.db

# ==========================================
# WillClouds / UmoCloud API Configurations
# ==========================================
CID=50000
CVER=10010016
LOCALE=en-US
CLIENT_TYPE=h5
SALT=4d9cbb6b585448419578a95954a2b886
TENANT_ID=242
BRAND_ID=108
CHANNEL=h5_cphone
FIXED_PASSWORD=@thanhbinhdev

# RSA Public Key for Password Encryption
PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCbHF73B6NPGm5lwS4hVGg+W8VO\nezCt+Af4Cvx7UZjXakyk7U6QgPABK4JNnlRTV0wgySMM5zv9H9qXL6ltbqskKeZd\nDXhWaqu9oytBCaBg4nEA5O/y44qnm+NI+Tu35ulGDzSfQxP2js9LV3bcqjv/hP0S\n9aj2jBKINUKE2swiGQIDAQAB\n-----END PUBLIC KEY-----"

# API Timeouts and Rate Limits
API_TIMEOUT=30
MAIL_POLL_TIMEOUT=120
COOLDOWN_SECONDS=10

# ==========================================
# Web Dashboard Configurations
# ==========================================
WEB_HOST=127.0.0.1
WEB_PORT=8000
WEB_USERNAME=admin
WEB_PASSWORD=admin123
SECRET_KEY=super-secret-web-key-change-me

